*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}


body {
    background-image: url("citrus.png");
    margin:none;
    padding:none;
    
}




.container {
    background-color: rgb(253, 255, 240);
    opacity: 0.9;
    
    margin-top: 130px;
    margin-bottom: 70px;
       
    padding: 30px;
    border: 30px;
    display: inline-flexbox;
    z-index: 1;


    
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(90, 228, 221);
    font-family: 'Monoton', cursive;
    position: relative;
    z-index: 1;
    
}

.col-sm-6 {
    min-width: 450px;
    max-width: 650px;
    padding: 20px;
    border: 10px;
    margin: 0px; 
    display:contents;
}



.col-sm-4 {
    overflow-wrap: break-word;
}



.logo {
    color: rgb(229, 30, 8);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
   
}




.row {
    text-align: center;
    font-size: large;
    border-radius: 5px;
    background: #aad56d;
    padding: 20px;
    border-style:outset;
    
}



button#save_btn.btn.btn-default {
    background-color: rgb(252, 248, 163);
    cursor: pointer;
    font-size: large;
    transition: 0.5s;
    padding: 16px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 4px 2px;
    
    
}

button#save_btn.btn.btn-default:hover {
 background-color: rgb(236, 165, 132);
}




h2 {
    text-align: center;
}

h4 {
    font-size: 40px;
    font-weight:bold;
}



.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
 
   
    
}



.nav-links li{
    list-style: none;

    
}

.nav-links a{
    color: rgb(107, 155, 221);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight:bold;
    font-size: 14px;
    
    
}

.burger{
    display: none;
}

.burger div{
    width: 35px;
    height: 3px;
    background-color: rgb(107, 155, 221);
    margin: 10px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px) {
    .nav-links{
       width: 50%;
   }
}


@media screen and (max-width:768px) {
   body{
    overflow-x: hidden;
   }
    
   .nav-links{
    position: absolute;
     right: 0px;
     height: 92vh;
     top: 8vh;
     background-color: rgb(90, 228, 221);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 30%;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;
   }
   .nav-links li{
    opacity: 0.9;
   }

   .burger{
    display: block;
    cursor: pointer;
   }
}

.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from{
       opacity: 0;
       transform: translateX(50px);
    }

    to{
       opacity: 1;
       transform: translateX(0px);
    }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,12px);
}

.toggle .line2{
  opacity: 0;  
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-12px);
}


.page2 {
    background-color: #aad56d;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    max-width:auto;
    min-width: auto;
   

}


@media (min-width: 600px) and (max-width: 1200px) {
    #mychart{
        display: flex;
    }
}
  
#myChart{
    padding:2%;
    margin: auto;
    display: flex;
    
}











