body {
    background-image: url("citrus.png");
    margin:inherit;
    padding:260px;
    
}

.container {
    background-color: rgb(253, 255, 240);
    opacity: 0.9;
    margin: auto;
    padding: 30px;
    border: 30px;
   
    
    
}

.row {
    text-align: center;
    font-size: large;
    border-radius: 5px;
    background: #aad56d;
    padding: 20px;

    
}



button#save_btn.btn.btn-default {
    background-color: rgb(252, 248, 163);
    cursor: pointer;
    font-size: large;
    transition: 0.5s;
    padding: 16px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 4px 2px;
    
    
}

button#save_btn.btn.btn-default:hover {
 background-color: rgb(236, 165, 132);
}

.col-sm-6 {
    min-width: 450px;
    max-width: 650px;
    padding: 20px;
    margin: 0px;

   
}


 h2 {
    text-align: center;
}
